<div id="contactoFooter">
<br>
<h1>Contactate con nosotros</h1>
<br>
    <p><a href="mailto:darce397@gmail.com">info@overseas.com</a></p>
    <br>
   
        <p>+54 385 404 1155</p>
    <br>
    <button id="buttonHide" onclick="hide()">X</button>

</div>