<div id="quienesSomos">
    <br>
    <a href="https://www.linkedin.com/in/david-arce-/" style="text-decoration: none;"><p>David Arce</p></a>
    <br>
    <a href="https://www.linkedin.com/in/juanamayorga/" style="text-decoration: none;"><p>Juana Mayorga</p></a>
    <br>
    <a href="https://www.linkedin.com/in/ulises-hernandez-tegaldo-265a57141/" style="text-decoration: none;"><p>Ulises Hernandez</p></a>
    <br>

    <button id="buttonHide" onclick="hide()">X</button>
</div>